<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>

  <appSettings>
    <add key="StatsDHost" value=""/>
  </appSettings>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="Console" xsi:type="ColoredConsole" layout="${longdate}|${level:uppercase=true:padding=-5}|${logger}|${message}|${exception:format=tostring}"> </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" writeTo="Console" />
    </rules>
  </nlog>
</configuration>